/* Services
================================================== */
/* Section title */
.section-title {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.section-sub-title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 75px;
    height: 2px;
    background: #ffc000;
    z-index: 10;
}
.section-sub-title {
    font-weight: 900;
    line-height: 46px;
    font-size: 36px;
    position: relative;
    display: grid;
    justify-items: center;
    margin-bottom: 35px;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}
.section-sub-title:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 200px;
    height: 2px;
    background: rgba(100, 100, 100, 0.3);
}

/* Section IMG CENTER */
.service-center-img {
    padding: 0;
    width: 250px;
}

/* Section Services */
.ts-service-box {
    position: relative;
}

.ts-service-box-img {
    position: absolute;
    left: 0;
}

.ts-service-box .ts-service-box-info {
    margin-left: 75px;
}

.service-box-title {
    font-size: 16px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.service-box-title a {
    color: #000000;
    font-weight: 700;
}

@media (min-width: 1052px) {
    .ts-service-box {
        position: relative;
        height: 100px;
    }
}