<section id="main-container" class="main-container">
    <div class="container">
        <div class="row mt-5">

            <div class="col-lg-6">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="/src/assets/images/services/service-1.jpg" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="/src/assets/images/icons/service-icon-1.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title">CONSTRUCCION DE VIVIENDAS</h3>
                        <p>Damos una excelente financiacion para que puedas llevar a cabo la construccion de tu futura vivienda.</p>

                    </div>
                </div>
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="/src/assets/images/services/service-4.jpg" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="/src/assets/images/icons/service-icon-2.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title">REMODELACIÓN DE EDIFICIOS</h3>
                        <p>Remodelamos todo tipo de edificios respetando las normas limpieza que se debe tener para no causar problemas.</p>

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="/src/assets/images/services/service-2.jpg" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="/src/assets/images/icons/service-icon-3.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title">Diseño de Interiores</h3>
                        <p>Modificamos tu vivienda por dentro, para que luzca de la mejor forma</p>
                    </div>
                </div>
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="/src/assets/images/services/service-3.jpg" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="/src/assets/images/icons/service-icon-4.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title">Diseño de Exteriores</h3>
                        <p>Hacemos todas las modificaciones que desees en el exterior de tu vivienda, desde la vereda hasta cambios en los techos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="sass">
    @use '../assets/sass/pages/services/services'
</style>