/*-- Main slide --*/
.slide-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  margin: 20px 0 10px;
}

.slide-sub-title {
  font-size: 30px;
  line-height: 38px;
  margin: 20px 0;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.slider.btn {
  margin: 15px 5px 0;
  border: 2px solid transparent;
}

.slider.border {
  background: none;
}

.slider.border:hover {
  background: #ffb600;
  border: 2px solid transparent;
}

.carousel-item.active .carousel-caption {
  visibility: visible;
}

.carousel-item .carousel-caption {
  visibility: hidden;
}

.carousel-inner .carousel-item img {
  height: 85dvh;
  background-size: cover;
}

/* Carousel control */
.carousel-control .carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #ffb600;
}

@media (min-width: 922px) {
  .carousel-inner .carousel-item img {
    height: 90dvh;
  }
}

@media (min-width: 438px) {
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
  }

  .carousel-control-prev, .carousel-control-next {
    background: rgba(0, 0, 0, .4);
    color: #fff;
    width: 3rem;
    height: 3rem;
    top: 50%;
  }

  .carousel-control-prev {
    left: 5%;
  }

  .carousel-control-next {
    right: 5%;
  }
}


/*-- Animation */
.carousel-item.active .carousel-caption .animated3 {
    -webkit-animation: fadeInLeft 1.5s ease-in-out 300ms both;
    animation: fadeInLeft 1.5s ease-in-out 300ms both;
}

.carousel-item.active .carousel-caption .animated4 {
    -webkit-animation: lightSpeedIn 1.5s ease-in 300ms both;
    animation: lightSpeedIn 1.5s ease-in 300ms both;
}

.carousel-item.active .carousel-caption .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
    animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel-item.active .carousel-caption .animated6 {
    -webkit-animation: fadeInRight 1s ease-in 200ms both;
    animation: fadeInRight 1s ease-in 200ms both;
}

.carousel-item.active .carousel-caption .animated7 {
    -webkit-animation: fadeInRight 1.5s ease-in 300ms both;
    animation: fadeInRight 1.5s ease-in 300ms both;
}

// bounceInLeft
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}


// lightSpeedIn
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    -ms-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    -ms-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}


// fadeInLeft
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

// fadeInRight
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}