---
import Logo from "@/components/Logo.astro";
---

<!-- FOOTER -->

<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="footer-about col-sm-12 col-md-7">
                    <h3 class="widget-title">SOBRE NOSOTROS</h3>
                    <!-- // LOGO -->
                    <Logo 
                        width_LOGO="170.000000pt" 
                        height_LOGO="100.000000pt"
                        clases="" 
                        color_CAMIONETA="#ffff" 
                        color_CAMIONETA_RUEDAS="" 
                    />

                    <p>Empresa familiar que lleva 20 años en la industria de la construcción.</p>
                    <div class="row">
                        <div class="footer-contact col-4">
                            <p><span><i class="bi bi-telephone-forward"></i> TELEFONO</span></p>
                            <p><span><i class="bi bi-envelope"></i> EMAIL</span></p>
                            <p><span><i class="bi bi-geo-alt"></i> DIRECCIÓN</span></p>
                            <p><span><i class="bi bi-wechat"></i> REDES SOCIALES</span></p>
                        </div>
                        <div class="footer-contact col-8">
                            <p>011 6396 0123</p>
                            <p>titoconstrucciones73@gmail.com</p>
                            <p>Francisco Baño 683, Guernica, Buenos Aires</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/ConstruccionTITO/"><i class="bi bi-facebook"></i></a></li>
                                    <li><i class="bi bi-instagram"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-working-hours col-sm-12 col-md-5">
                    <h3 class="widget-title">Horas de Trabajo</h3>
                    <div class="working-hours">
                        <p class="working-hours__text">Trabajamos 6 días a la semana. Póngase en contacto con nosotros si tiene una emergencia, con nuestra línea directa y formulario de contacto.</p>
                        <br> 
                        <span class="working-hours__days">Lunes - Viernes:</span> 
                        <span class="working-hours__text-right">8:00 - 17:00 </span>
                        <br> 
                        <span class="working-hours__days">Sabados y Feriados:</span> 
                        <span class="working-hours__text-right">8:00 - 14:00</span>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="copyright-info">
                        <span>Copyright © 2024 TITO Construcciones. All Rights Reserved.</span>
                        <p align-center><a href="https://www.linkedin.com/in/christian-daniel-tito-gira-1680901b4/">Creado por Christian Tito Gira</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style lang="sass">
    @use '../assets/sass/layout/footer'
</style>