---
import Logo from "@/components/Logo.astro";
---

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <ul class="top-info">
                    <li>
                        <i class="bi bi-telephone-forward"></i>
                        <p class="info-text">011 6396 0123</p>
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        <p class="info-text">titoconstrucciones73@gmail.com</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary border-2 border-bottom border-warning">
    <div class="container-fluid">
        <!-- // 42 -->
        <!-- <a class="navbar-brand" href="#">LOGO</a> -->
        <!-- // 56 -->
        <!-- /// width = 183.5
        /// height = 60.23 -->
        <a href="/">
            <Logo 
                width_LOGO="140.000000pt" 
                height_LOGO="50.000000pt" 
                clases="navbar-brand logo" 
                color_CAMIONETA="#00008B" 
                color_CAMIONETA_RUEDAS="#404040"
            />
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class=`nav-link` aria-current="page" href="/">Inicio</a>
          <a class=`nav-link` href="/about-us/">Nosotros</a>
          <a class=`nav-link` href="/services/">Servicios</a>
          <a class=`nav-link` href="/projects/">Proyectos</a>
          <a class=`nav-link` href="/contact/">Contacto</a>
        </div>
      </div>
    </div>
</nav>
<style lang="sass">
    @use '../assets/sass/layout/header'
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const nav = document.querySelector(".navbar-nav");
        const navLinks = nav.querySelectorAll(".nav-link");
        const currentURL = window.location.href as string;
        navLinks.forEach((link) => {
            if (link.href === currentURL) {
                link.classList.add("active");
            }
        });

        const navbar = document.querySelector('.navbar');
        window.addEventListener('scroll', () => {
            if (window.scrollY > 50) { // Puedes ajustar el valor según tus necesidades
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    });
</script>
