<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="icon" type="image/png" href="/src/assets/images/favicon.png" />

		<meta property="og:title" content="Tito Construcciones">
		<meta property="og:description" content="¡Transforma tu espacio con expertos en construcción! ¡Haz clic para más detalles! ¿Buscando construir en zona sur? ¡Llámanos para empezar! Reformas de baños.">
		<meta property="og:image" content="/src/assets/images/slider/slider-main/bg-1.webp">
		<meta property="og:url" content="https://www.construccionestito.com">
		
		<meta name="robots" content="index, follow">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Empresa familiar que lleva 20 años en la industria de la construcción">
		
		<title>Tito Construcciones</title>
	</head>
	<body>
		<slot />
		<!-- <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script> -->
		<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
	</body>
</html>